:root {
  --lightBg: ##fff;
  --darkBg: #10171d;
  --lightAccent1: #ff657c;
  --darkAccent1: #b6fff4;
  --lightText: #333;
  --darkText: #fff;
}

html,
body,
#__next {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

*::selection {
  background-color: yellow;
  color: #222;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Darkmode + Lightmode */

.dark {
  background-color: var(--darkBg);
  color: var(--darkText);
}
.dark > a {
  color: var(--darkAccent1);
}

.light {
  background-color: var(--lightBg);
  color: var(--lightText);
}

.light > a {
  color: var(--lightAccent1);
}
